/Lab1/MAS-Vacuum/nbproject/private/
/Lab1/MAS-Vacuum/build/
/Lab1/MAS-Vacuum/dist/
/Lab2/Predator-Prey/nbproject/private/
/Lab2/Predator-Prey/build/
/Lab2/Predator-Prey/dist/
/Lab3/nbproject/private/
/Lab3/build/
/Lab3/MAS-DynamicBoxen/nbproject/private/
/Lab3/MAS-DynamicBoxen/build/
/Lab3/MAS-DynamicBoxen/dist/
/Homework/Pathfinding/nbproject/private/
/Homework/Pathfinding/build/
/Lab3-4/MAS-DynamicBoxen/build/
/Lab3-4/MAS-DynamicBoxen/nbproject/private/

/Lab5/Mas-Jade/nbproject/private/
/Lab5/Mas-Jade/build/
/Lab5/Mas-Jade/dist/
/Lab6/MAS-Jade-ambient/MAS-Jade-ambient-agent-CFP/nbproject/private/
/Lab6/MAS-Jade-ambient/MAS-Jade-ambient-agent-CFP/build/
/Lab6/MAS-Jade-ambient/MAS-Jade-ambient-agent-CFP/dist/
/Lab6/MAS-Jade-ambient-agent/MAS-Jade-ambient-agent-CFP/build/
/Lab6/MAS-Jade-ambient-agent/MAS-Jade-ambient-agent-CFP/dist/
/Lab6/MAS-Jade-ambient-agent/MAS-Jade-ambient-agent-CFP/nbproject/private/
/Lab6/MAS-Jade-ambient-agent-CFP-e/nbproject/private/
/Lab6/MAS-Jade-ambient-agent-CFP-e/build/
/Lab6/MAS-Jade-ambient-agent-CFP-e/dist/
/Lab7/MAS-Jade-House-Building/nbproject/private/
/Lab7/MAS-Jade-House-Building/build/
/Lab7/MAS-Jade-House-Building/dist/
/Lab9/MAS-Jade-Voting-Mobility/nbproject/private/
/Lab9/MAS-Jade-Voting-Mobility/build/
/Lab9/MAS-Jade-Voting-Mobility/dist/