/Lab1/MAS-Vacuum/nbproject/private/
/Lab1/MAS-Vacuum/build/
/Lab1/MAS-Vacuum/dist/
/Lab2/Predator-Prey/nbproject/private/
/Lab2/Predator-Prey/build/
/Lab2/Predator-Prey/dist/
/Lab3/nbproject/private/
/Lab3/build/
/Lab3/MAS-DynamicBoxen/nbproject/private/
/Lab3/MAS-DynamicBoxen/build/
/Lab3/MAS-DynamicBoxen/dist/
/Lab3-4/MAS-DynamicBoxen/build/
/Lab3-4/MAS-DynamicBoxen/nbproject/private/